doctype 5
html
  head
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    script(type='text/javascript', src='/js/lib/jquery.js')
       
  body
    canvas#canvas(width='1024px', height='630px', style='border:solid #ccc 1px;margin:0 auto;display:block;')
      | Sorry, your browser doesn't support HTML5.
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/js/lib/requestAnimFrame.js')
  script(type='text/javascript', src='/js/lib/sprite.js')
  script(type='text/javascript', src='/js/main.js')
